@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
    font-family: 'Pretendard Variable','Noto Sans KR', sans-serif;
    animation: fadeIn .7s ease;
    overflow-wrap: break-word;
    margin: 40px 30px 40px 30px;
    background-color: #f5f6fa;
    color: #2f3640;
    transition: color, background-color 1s ease;
    overflow: auto;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 10rem;
    transition: transform .2s, color 1s ease;
    user-select: none;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

h1:hover {
    transform: scale(1.05);
}

h1:active {
    transform: scale(0.98);
}

a {
    user-select: none;
}